<h1>Edit Recipe</h1>
<form method='post' action='/recipes/<%=@recipe.id%>' id='form1'>
<input type='hidden' name="_method" value = "patch">
<label for='name'>Name:</label>
<input type='text' name='name' value="<%=@recipe.name%>" id='name'>
<label for='ing'>Ingredients</label>
<input type='text' name='ingredients' value="<%=@recipe.ingredients%>" id='ing'>
<label for='cook'>Cook Time:</label>
<input type='text' name='cook_time' value="<%=@recipe.cook_time%>" id='cook'>
</form>
<button type='submit' value='submit' form='form1'>Submit</button>